:root{
    --primary-text: yellow;
    --primary-background: #a23100;

}

/* header */
.main-header{
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), 
    url(pikacu.jpg); */
    background-color: var(--primary-background);
    border-bottom: 1px solid var(--primary-text);
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom: 1px solid var(--primary-text);
}
/* header */

/* footer */
.main-footer{
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), 
    url(pikacu.jpg); */
    background-color: var(--primary-background);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    border-top: 1px solid var(--primary-text);
}
/* footer */



/* sidebar */
.main-sidebar{
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), 
    url(aniime.png); */
    background-color: var(--primary-background);
    background-position: center;
    box-shadow: 0px 0px 20px 0px var(--primary-text);
}

.brand-link{
    border-bottom: 1px solid var(--primary-text);
}

.user-panel{
    border-bottom: 1px solid var(--primary-text);
}

.nav-link{
    transition: all .5s;
}

.nav-link:hover{
    background-color: var(--primary-text);
    box-shadow: 0px 0px 10px 0px var(--primary-text);
    
    
    i{
        color: var(--primary-background);
    }

    p{
        color: var(--primary-background);
    }
    
}

i{
    color: var(--primary-text);
}

p{
    color: var(--primary-text);
}
/* sidebar */

/* dashboard */
.content-wrapper{
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), 
    url(pikacu.jpg); */
    background-color: var(--primary-background);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.small-box{
    border: 1px solid var(--primary-text);
    transition: all .5s;
    color: var(--primary-text);
}

.small-box:hover{
    box-shadow: 0px 0px 10px 0px var(--primary-text);
    background-color: var(--primary-text);
    color: var(--primary-background);

    p{
        color: var(--primary-background);
    }

    .small-box-footer{
        color: var(--primary-background);

        .fas{
            color: var(--primary-background);
        }
    }
}

.text-color{
    color: var(--primary-text);
}
/* dashboard */

/* data_panitia */

.col-12{
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), 
    url(pikacu.jpg); */
    background-color: var(--primary-background);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.card{
    background-color: transparent;
}

thead{
    
    color: var(--primary-text);
}

td{
    color: var(--primary-text);
}
/* data_panitia */

.btn {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
  }

  
.btn-secondary {
  color: var(--primary-text);
  background-color: var(--primary-background);
  border-color: var(--primary-text);
  box-shadow: none;
}

.btn-secondary:hover{
    background-color: var(--primary-text);
    color: var(--primary-background);
    box-shadow: 0px 0px 10px 0px var(--primary-text);
}

div.dataTables_wrapper div.dataTables_filter input {
    margin-left: .5em;
    display: inline-block;
    width: auto;
    border: 1px solid var(--primary-text);
    background-color: transparent;
    color: var(--primary-text);
  }

/* .njay{
    border: 1px solid var(--primary-text);
} */
.dropdown-menu{
    background-color: var(--primary-background);
    border: 1px solid var(--primary-text);
    transition: all .3s;
}

.dropdown-item{
    transition: all .3s;
}

.dropdown-item:hover{
    background-color: var(--primary-text);
    color: var(--primary-background);
    box-shadow: 0px 0px 20px 0px var(--primary-text);
    border: 1px solid var(--primary-background);
}

.dropdown-item.active{
    background-color: var(--primary-text);
}
div.dt-button-collection{
    background-color: var(--primary-background);
    border: 1px solid var(--primary-text);

    span{
        color: var(--primary-background);
    }

    a.dt-button{
        color: var(--primary-background);
    }
}

/* nyoba */
.pagination_button{
    /* background-color: var(--primary-text);
    color: var(--primary-background); */
}

.page-item.active .page-link{
    background-color: var(--primary-text);
    color: var(--primary-background);
    border: 1px solid var(--primary-text);
}

.paginate_button{
    background-color: var(--primary-background);
}

.modal-header{
    background-color: var(--primary-background);
    border: 1px solid var(--primary-text);
}

.modal-body{
    background-color: var(--primary-background);
    border: 1px solid var(--primary-text);
}

label{
    color: var(--primary-text);
}

.modal-title{
    color: var(--primary-text);
}

/* data akun siswa */

.card-title{
    color: var(--primary-text);
}

.btn-primary{
    background-color: var(--primary-text);
    color: var(--primary-background);
    transition: all .3s;
}

.btn-primary:hover{
    background: var(--primary-background);
    border: 1px solid var(--primary-text);
    box-shadow: 0px 0px 20px 0px var(--primary-text);
}